@using joshuaSite.Models
@model List<joshuaSite.Models.YearContainer>
    
<div class="container">
<div class="timeline">
    
    @foreach (YearContainer uc in Model)
    {
        <h2>
            @uc.Year
        </h2>

        <ul class="timeline-items">

            @foreach (DateItem di in uc.DateItems)
            {

                if (di.SpecialDate)
                {
                    <li class="is-hidden timeline-item centered">
                        <h3>@di.Synopsis</h3>
                        <hr>
                        <p>@di.TextContent</p>
              
                        @if (di.Images != null && di.Images.Count > 0)
                        {
                            foreach (Image img in di.Images)
                            {
                                <a href="@img.ImagePath" data-lightbox="@img.ImagePath" data-title="@img.Caption" >
                                    <img src="@img.ImagePath" />
                                </a>
                            }
                           
                        }

                        <hr>
                        <time>@di.DateString</time>
                    </li>
                }
                else
                {


                    if (di.Rand == 0)
                    {
                        <li class="is-hidden timeline-item">
                            <h3>@di.Synopsis</h3>
                            <hr>
                            <p>@di.TextContent</p>
                            
                            @if (di.Images != null && di.Images.Count > 0)
                            {
                                foreach (Image img in di.Images)
                                {
                                    <a href="@img.ImagePath" data-lightbox = "@img.ImagePath" data-title="@img.Caption" >
                                        <img src="@img.ImagePath" />
                                    </a>
                                }
                           
                            }

                            <hr>
                            <time>@di.DateString</time>
                        </li>
                    }
                    else
                    {
                        <li class="is-hidden timeline-item inverted">
                            <h3>@di.Synopsis</h3>
                            <hr>
                            <p>@di.TextContent</p>
                            
                            @if (di.Images != null && di.Images.Count > 0)
                            {
                                foreach (Image img in di.Images)
                                {
                                    <a href="@img.ImagePath" data-lightbox="@img.ImagePath" data-title="@img.Caption" >
                                        <img src="@img.ImagePath" />
                                    </a>
                                }
                           
                            }

                            <hr>
                            <time>@di.DateString</time>
                        </li>
                    }
                    
                }

            }
        
        </ul>
            
    }
    

</div>
</div>

<script src="/Scripts/jquery.js"></script>
<script src="/Scripts/jquery.timelify.js"></script>
<script>
    $('.timeline').timelify({
        animSpeed: 1000,
        offset: 150
    });
</script>